
@{
    ViewData["Title"] = "Reportes";
}

<h1>Reportes</h1>

<ul class="nav nav-pills">

    <li class="nav-item ">
        <a class="nav-link " href="@Url.Action("Contacto", "Reporte")">Lista de contacto (B)</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link " href="@Url.Action("Rank_1", "Reporte")">El numero de cartas que ha recibido cada departamento (C)
        </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link " href="@Url.Action("Rank_2", "Reporte")">
            El o los departamentos que tienen la mayor cantidad de destinatarios
            (D)
        </a>
    </li>


</ul>