
@{
    ViewData["Title"] = "Reportes";
}

<h1>Reportes</h1>

<ul class="nav nav-pills">

    <li class="nav-item ">
        <a class="nav-link " href="@Url.Action("Contacto", "Reporte")">Lista de contacto (B)</a>
    </li>
</ul>